html,
body {
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  height: 100%;
  margin: 0;
}

:root {
  --primary-colour: #0b9eed;
  --secondary-colour: #1d7cb0;
}

/* Logo Container */

.logo__container {
  align-items: center;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}

.logo__container img {
  border-radius: 5px;
  max-width: 330px;
}

/* Mobile Nav */

.mobile__menu__icon {
  align-items: center;
  color: var(--primary-colour);
  display: flex;
  font-size: 17px;
  font-weight: bold;
  justify-content: center;
  padding: 0 1rem;
  text-align: center;
}

.mobile__menu__icon__svg {
  fill: var(--primary-colour);
  padding-right: 0.5rem;
}

.mobile__menu__icon p {
  padding-bottom: 3px;
}

.mobile__menu__icon a {
  padding-bottom: 0.3rem;
}

#sidebar__menu {
  display: none;
  border-top: 5px dotted rgba(109, 159, 170, 0.5);
}

#sidebar__menu ul {
  padding-left: 0;
  text-align: center;
}

#sidebar__menu ul li {
  list-style: none;
}

#sidebar__menu ul a:hover {
  opacity: 0.5;
}

#mobile--nav--link {
  font-family: "Bree Serif", serif;
  font-weight: bold;
  padding: 0;
}

.mobile--link {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .mobile__menu__icon {
    display: none;
  }
}

/* Desktop Nav */

.desktop__nav {
  display: none;
  /* margin: 0 auto; */
  text-align: center;
}

.standard--link {
  /* color: var(--primary-colour); */
  color: white;
  /* text-shadow: rgba(109, 159, 170, 1); */
  font-weight: 100;
  text-shadow: 1px 1px #f5f5f500;
  display: inline-block;
  padding: 0 1rem;
  text-decoration: none;
}

.desktop__nav ul li {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .desktop__nav {
    display: block;
  }
}

/* Button classes */

button {
  background-color: white;
  border: none;
}

/* Hero */

.hero__container {
  background-image: linear-gradient(
      0deg,
      rgba(109, 159, 170, 0.5),
      rgba(54, 80, 86, 0.7)
    ),
    url("/img/events-hero-min.jpg");
  background-position: center center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.hero__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 35px 0;
  width: 100%;
}

.hero__nav ul {
  margin-top: 0.5rem;
}

.hero__nav img {
  border-radius: 0;
  max-width: 220px;
}

.hero__nav__logo {
  visibility: hidden;
}

.hero__text {
  margin-top: -15%;
}

h1 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  padding: 0 15%;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0 0.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__container {
    height: 100vh;
  }

  h1 {
    font-size: 4.5rem;
  }

  .hero__nav__logo {
    visibility: visible;
  }

  .hero__text {
    margin-top: 0;
    margin-top: 2rem;
  }
}

/* Main Content */

.main__content__container {
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' opacity='.5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E"); */
  line-height: 1.5;
  padding: 3rem 2rem 1rem;
}

.content__image__container {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.5rem;
}

h3 {
  color: var(--secondary-colour);
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0;
}

h4 {
  color: var(--secondary-colour);
  font-size: 1.5rem;
  font-weight: 300;
}

p {
  color: black;
  opacity: 0.95;
  font-family: "Lora", serif;
  line-height: 1.5;
}

img {
  border-radius: 10px;
}

.central__image__container {
  display: flex;
  justify-content: center;
}

/* Welcome Content */
.welcome__content {
  display: flex;
}

/* Grid 2 */

.grid__2 {
  text-align: center;
}

.grid__2 h4 {
  /* margin-left: 1rem; */
  margin-bottom: 1.5rem;
}

.grid__2 ul {
  padding: 0 1rem;
}

.grid__2 li {
  list-style: none;
  margin-bottom: 1rem;
}

.side__bar {
  border: 1px solid rgba(109, 159, 170, 0.5);
  border-radius: 10px;
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto 2rem;
  text-align: center;
}

.side__bar h4 {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .main__content__container {
    border-left: 4px solid rgba(245, 245, 245, 1);
    border-right: 4px solid rgba(245, 245, 245, 1);
    margin: 0 8%;
    padding: 2rem 0 0 0;
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
  }

  .content--background {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill-opacity='0.15' fill='%23008bff' cx='45' cy='45' r='10'/%3E%3Cg fill='%23050388' fill-opacity='0.15'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
  }

  .content__image__container {
    float: right;
    margin-left: 1.5rem;
  }

  .central__image__container {
    float: left;
    margin-right: 1.5rem;
  }

  .side__bar {
    max-width: 100%;
  }

  .grid__2 {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .grid__1 {
    max-width: 85%;
    margin: 0 auto;
  }
}

/* Links */
a {
  color: var(--primary-colour);
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  opacity: 0.5;
}

/* Blog Highlights */

.blog__posts__grid {
  display: grid;
}

.blog__preview {
  margin-bottom: 2rem;
  text-align: center;
}

.blog__preview h4 {
  margin: 0.25rem;
}

.blog__preview img {
  border-radius: 5px;
  max-width: 100%;
  transition: 0.4s ease-out;
}

.blog__preview img:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .blog__preview {
    margin-bottom: 0;
  }

  .blog__posts__grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/* Contact Form */
.contact__form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.contact__form h4 {
  margin-top: 0rem;
}

input,
textarea {
  border-radius: 5px;
  font-family: "Bree Serif", serif;
  margin-bottom: 1.25rem;
  width: 90%;
}

input {
  height: 30px;
}

textarea {
  resize: none;
}

.contact__form button {
  border-radius: 5px;
  height: 35px;
  margin: 0 auto;
  width: 45%;
}

.button--submit {
  background: var(--primary-colour);
  border: 1px solid white;
  color: white;
}

.button--cancel {
  border: 1px solid rgba(109, 159, 170, 0.5);
}

button {
  font-weight: bold;
  transition: 0.4s ease-out;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  label {
    display: block;
  }

  form {
    width: 80%;
  }
}

/* Footer */
footer {
  background-color: #ffffff;
  border-top: 1px solid rgba(109, 159, 170, 0.5);
  height: 120px;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

footer a {
  color: var(--secondary-colour);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

footer p {
  margin: 0 1rem;
}

footer p:first-of-type {
  margin-top: 1rem;
}

/* Icons */

.social__icons {
  margin-bottom: 1rem;
}

i {
  color: var(--primary-colour);
  margin-right: 1rem;
  transition: 0.4s ease-out;
}

i:hover {
  opacity: 0.5s;
}
