html,
body {
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  height: 100%;
  margin: 0;
}

:root {
  --primary-colour: #0095e5;
  --secondary-colour: #1e74a2;
}

/* Logo Container */

.logo__container {
  align-items: center;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}

.logo__container img {
  max-width: 330px;
}

/* Mobile Nav */

.mobile__menu__icon {
  align-items: center;
  color: var(--primary-colour);
  display: flex;
  font-size: 17px;
  font-weight: bold;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.mobile__menu__icon__svg {
  fill: var(--primary-colour);
  padding-right: 0.5rem;
}

.mobile__menu__icon p {
  padding-bottom: 3px;
}

.mobile__menu__icon a {
  padding-bottom: 0.3rem;
}

@media screen and (min-width: 768px) {
  .mobile__menu__icon {
    display: none;
  }
}

/* Desktop Nav */

.desktop__nav {
  display: none;
  margin: 0 auto;
  text-align: center;
}

.desktop__nav a {
  color: var(--primary-colour);
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

.desktop__nav ul li {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .desktop__nav {
    display: block;
  }
}

/* Button classes */

button {
  background-color: white;
  border: none;
}

/* Hero */

.hero__container {
  background-image: linear-gradient(
      0deg,
      rgba(109, 159, 170, 0.5),
      rgba(109, 159, 170, 0.5)
    ),
    url("/img/events-hero-min.jpg");
  background-position: center center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  padding: 0 15%;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0 0.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__container {
    height: 450px;
  }

  h1 {
    font-size: 4.5rem;
  }
}

/* Main Content */

.main__content__container {
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 1.5;
  padding: 3rem 2rem 1rem;
}

.content__image__container {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.5rem;
}

h3 {
  color: var(--secondary-colour);
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0;
}

h4 {
  color: var(--secondary-colour);
  font-size: 1.5rem;
  font-weight: 300;
}

p {
  color: black;
  font-family: "Lora", serif;
  line-height: 1.5;
}

.central__image__container {
  display: flex;
  justify-content: center;
}

/* Grid 2 */

.grid__2 {
  text-align: center;
}

.grid__2 h4 {
  /* margin-left: 1rem; */
  margin-bottom: 1.5rem;
}

.grid__2 ul {
  padding: 0 1rem;
}

.grid__2 li {
  list-style: none;
  margin-bottom: 1rem;
}

.side__bar {
  border: 1px solid rgba(109, 159, 170, 0.5);
  border-radius: 10px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto 2rem;
  text-align: center;
  /* max-width: 80%; */
}

.side__bar h4 {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .main__content__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .content__image__container {
    float: right;
    margin-left: 1.5rem;
  }

  .central__image__container {
    float: left;
    margin-right: 1.5rem;
  }

  .side__bar {
    max-width: 100%;
  }

  .grid__2 {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .grid__1 {
    max-width: 85%;
    margin: 0 auto;
  }
}

/* Links */
a {
  color: var(--primary-colour);
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  opacity: 0.5;
}

/* Contact Form */
.contact__form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

input,
textarea {
  border-radius: 5px;
  font-family: "Bree Serif", serif;
  margin-bottom: 1.25rem;
  width: 90%;
}

input {
  height: 30px;
}

textarea {
  resize: none;
}

.contact__form button {
  border-radius: 5px;
  height: 35px;
  margin: 0 auto;
  width: 45%;
}

.button--submit {
  background: var(--primary-colour);
  border: 1px solid white;
  color: white;
}

.button--cancel {
  border: 1px solid rgba(109, 159, 170, 0.5);
}

button {
  font-weight: bold;
  transition: 0.4s ease-out;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  label {
    display: block;
  }

  form {
    width: 80%;
  }
}

/* Footer */
footer {
  background-color: #ffffff;
  border-top: 1px solid rgba(109, 159, 170, 0.5);
  height: 120px;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

footer a {
  color: var(--secondary-colour);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

footer p {
  margin: 0;
}

footer p:first-of-type {
  margin-top: 1rem;
}
